.idea/
!*.idea/jsLibraryMappings.xml
!*.idea/runConfigurations/*
**/src/main/resources/static
**/src/main/resources/public
.gradle/
build/
dist/
*.iws
*.iml
*.ipr
.DS_Store
.classpath
.factorypath
.project
.settings
.springBeans
*.log
